@using MvcOnlineTicariOtomasyon.Models.Sınıflar;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h3 style="margin-left:10px;">DEPARTMANLAR</h3>

<table class="table table-bordered" style="margin-top:10px; margin-left:10px; width:auto; border:solid 1px black">

    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.DepartmanID</td>
            <td>@item.DepartmanAdi</td>
            <td><a class="btn btn-danger" href="/Departman/DepartmanSil/@item.DepartmanID">Sil</a></td>
            <td><a class="btn btn-success" href="/Departman/DepartmanGuncelle/@item.DepartmanID">Güncelle</a></td>
            <td><a class="btn btn-default" href="/Departman/DepartmanDetay/@item.DepartmanID" style="background-color:darkcyan; color:white;">Detay</a></td>
        </tr>

    }

</table>

<a style="width: 200px; margin-left: 10px; background-color: #004626" href="/Departman/DepartmanEkle" role="button" class="btn btn-primary btn-lg">Departman Ekle</a>