@using MvcOnlineTicariOtomasyon.Models.Sınıflar;
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h3 style="margin-left:10px;">KARGO</h3>
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
<div style="background-color: white; padding: 20px 10px 10px 10px; border: 2px solid #399565; width: 450px;margin-top:10px; margin-left:10px; ">
    <p>
        Kargo Takip Numarası :@Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
</div>
}

<table class="table table-bordered" style="margin-top:20px; margin-left:10px; width:auto; border:solid 1px black">

    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Kodu</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Personel</td>
            <td>@item.Alici</td>
            <td>@item.Tarih</td>
            <td>@item.TakipKodu</td>
            <td><a class="btn btn-default" href="/Kargo/KargoTakip/@item.TakipKodu" style="background-color:darkcyan; color:white;">Detay</a></td>
        </tr>

    }

</table>

<a style="width: 250px; margin-left: 10px; background-color: #004626 " href="/Kargo/YeniKargo" role="button" class="btn btn-primary btn-lg">Yeni Kargo Girişi</a>